{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">  
<h2>Đề thi: {{ de_thi.ten_de }}</h2>
<p>Ngày tạo: {{ de_thi.ngay_tao|date:"d/m/Y H:i" }}</p>

<ol>
    {% for chitiet in danh_sach_cau_hoi %}
        <li class="cau-hoi">
            <strong>Câu {{ chitiet.thu_tu }}: {{ chitiet.cau_hoi.noi_dung }}</strong>
            <div class="dapan">
                <p>A. {{ chitiet.cau_hoi.dap_an_A }}</p>
                <p>B. {{ chitiet.cau_hoi.dap_an_B }}</p>
                <p>C. {{ chitiet.cau_hoi.dap_an_C }}</p>
                <p>D. {{ chitiet.cau_hoi.dap_an_D }}</p>
            </div>
        </li>
    {% endfor %}
</ol>
<a href="{% url 'danh_sach_de_thi' %}">← Quay lại danh sách đề thi</a>
